<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1 *ngIf="title != 'juan'">{{ title }}</h1>

<input type="text" [(ngModel)]="title">
<input type="button" value="click" (click)="agregarElemento(title)">

<div *ngIf="title == 'isc' then ifBlock else elseBlock"></div>
<ng-template #ifBlock>
  <h3>{{ title }}</h3>
</ng-template>
<ng-template #elseBlock>
  <h2>No existe item</h2>
</ng-template>

<div [ngSwitch]="title">
  <h2 *ngSwitchCase="'isc'"> Instituto de Sistemas Cusco</h2>
  <h2 *ngSwitchCase="'unsaac'">Universidad San Antonio Abad del Cusco</h2>
  <h2 *ngSwitchCase="'uac'">Universidad Andina del Cusco</h2>
  <h2 *ngSwitchDefault>no existe institucion</h2>
</div>

<ul>
  <li *ngIf="list.length == 0">No existen valores</li>
  <li *ngFor="let item of list; index as i">
   {{ i }} - {{ item }}
    <input type="button" value="X" (click)="eliminarElemento(i)">
  </li>
</ul>

<ul>
  <li *ngIf="personas.length ==0">No existen personas</li>
  <li *ngFor="let persona of personas; index as j">
    {{ persona.dni}} {{ persona.nombres}} {{ persona.apellidos }}
    <input type="button" value="X" (click)="eliminarPersona(j,persona.id)">
  </li>
</ul>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
